@import url('../styles.css');

.navbar{
    display: flex;
    background-color: var(--color1);
    gap: 15px;
    height: 3rem;
    justify-content: end;
    align-items: center;
    padding: 0 1rem;
}

button{
    padding: 0.3rem;
    /* background-color: transparent; */
    border: white 1px solid;
    border-radius: 3px;
    color: black;
}